name: Deploy Pizza to Debian

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Test SSH connection
        run: |
          ssh -v ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "echo SSH CONNECTED"

      - name: Deploy to Server
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} << 'EOF'
          set -e
          cd /var/www/web2
          echo "BEFORE: $(git rev-parse --short HEAD)"
          git fetch origin main
          git reset --hard origin/main
          echo "AFTER:  $(git rev-parse --short HEAD)"
          sudo systemctl reload nginx
          EOF
